---
import Col from "../components/Col.astro";
import Element from "../components/Element.astro";
import Groups from "../components/Groups.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="HTML Tags">
  <div class="flex justify-center items-end">
    <Col>
      <Element title="html" group="root" />
      <Element title="body" group="root" />

      <Element title="base" group="metadata" />
      <Element title="head" group="metadata" />
      <Element title="link" group="metadata" />
      <Element title="meta" group="metadata" />
      <Element title="style" group="metadata" />
      <Element title="title" group="metadata" />
    </Col>

    <Col>
      <Element title="header" group="content-sectioning" />
      <Element title="address" group="content-sectioning" />
      <Element title="article" group="content-sectioning" />
      <Element title="aside" group="content-sectioning" />
      <Element title="main" group="content-sectioning" />
      <Element title="nav" group="content-sectioning" />
      <Element title="section" group="content-sectioning" />
    </Col>

    <Col>
      <Element title="h1" group="content-sectioning" />
      <Element title="h2" group="content-sectioning" />
      <Element title="h3" group="content-sectioning" />
      <Element title="h4" group="content-sectioning" />
      <Element title="h5" group="content-sectioning" />
      <Element title="h6" group="content-sectioning" />
      <Element title="footer" group="content-sectioning" />
    </Col>

    <Col>
      <Element title="blockquote" group="text-content" />
      <Element title="dd" group="text-content" />
      <Element title="div" group="text-content" />
      <Element title="dl" group="text-content" />
      <Element title="dt" group="text-content" />
      <Element title="figcaption" group="text-content" />
      <Element title="figure" group="text-content" />
    </Col>

    <Col>
      <Element title="hr" group="text-content" />
      <Element title="li" group="text-content" />
      <Element title="menu" group="text-content" />
      <Element title="ol" group="text-content" />
      <Element title="p" group="text-content" />
      <Element title="pre" group="text-content" />
      <Element title="ul" group="text-content" />
    </Col>

    <Col>
      <Element title="a" group="inline-text" />
      <Element title="abbr" group="inline-text" />
      <Element title="b" group="inline-text" />
      <Element title="bdi" group="inline-text" />
      <Element title="bdo" group="inline-text" />
      <Element title="br" group="inline-text" />
    </Col>
    <Col>
      <Element title="cite" group="inline-text" />
      <Element title="code" group="inline-text" />
      <Element title="data" group="inline-text" />
      <Element title="dfn" group="inline-text" />
      <Element title="em" group="inline-text" />
      <Element title="i" group="inline-text" />
    </Col>
    <Col>
      <Element title="kbd" group="inline-text" />
      <Element title="mark" group="inline-text" />
      <Element title="q" group="inline-text" />
      <Element title="rp" group="inline-text" />
      <Element title="rt" group="inline-text" />
      <Element title="ruby" group="inline-text" />
    </Col>
    <Col>
      <Element title="s" group="inline-text" />
      <Element title="samp" group="inline-text" />
      <Element title="small" group="inline-text" />
      <Element title="span" group="inline-text" />
      <Element title="strong" group="inline-text" />
      <Element title="sub" group="inline-text" />
    </Col>
    <Col>
      <Element title="script" group="scripting" />
      <Element title="sup" group="inline-text" />
      <Element title="time" group="inline-text" />
      <Element title="u" group="inline-text" />
      <Element title="var" group="inline-text" />
      <Element title="wbr" group="inline-text" />
    </Col>

    <Col>
      <Element title="canvas" group="scripting" />
      <Element title="embed" group="embed" />
      <Element title="iframe" group="embed" />
      <Element title="object" group="embed" />
      <Element title="picture" group="embed" />
      <Element title="area" group="multimedia" />
    </Col>
    <Col>
      <Element title="noscript" group="scripting" />
      <Element title="portal" group="embed" />
      <Element title="source" group="embed" />
      <Element title="svg" group="embed" />
      <Element title="math" group="embed" />

      <Element title="audio" group="multimedia" />
    </Col>
    <Col>
      <Element title="del" group="demarcating-edits" />
      <Element title="caption" group="table" />
      <Element title="col" group="table" />
      <Element title="colgroup" group="table" />
      <Element title="table" group="table" />
      <Element title="tbody" group="table" />
      <Element title="img" group="multimedia" />
    </Col>
    <Col>
      <Element title="ins" group="demarcating-edits" />
      <Element title="td" group="table" />
      <Element title="tfoot" group="table" />
      <Element title="th" group="table" />
      <Element title="thead" group="table" />
      <Element title="tr" group="table" />
      <Element title="map" group="multimedia" />
    </Col>
    <Col>
      <Element title="button" group="form" />
      <Element title="datalist" group="form" />
      <Element title="fieldset" group="form" />
      <Element title="form" group="form" />
      <Element title="input" group="form" />
      <Element title="label" group="form" />
      <Element title="legend" group="form" />
      <Element title="track" group="multimedia" />
    </Col>
    <Col>
      <Element title="meter" group="form" />
      <Element title="optgroup" group="form" />
      <Element title="option" group="form" />
      <Element title="output" group="form" />
      <Element title="progress" group="form" />
      <Element title="select" group="form" />
      <Element title="textarea" group="form" />
      <Element title="video" group="multimedia" />
    </Col>
  </div>
  <div class="flex mt-2 justify-between width-full">
		<div class="flex-1">
<Groups />
		</div>
		<div class="flex">
			<Element title="details" group="interactive" />
			<Element title="dialog" group="interactive" />
			<Element title="summary" group="interactive" />
			
			<Element title="slot" group="web-components" />
			<Element title="template" group="web-components" />
		</div>
  </div>
</Layout>

<style></style>
