---
import { Group,groupColor,groupTitle } from "./element";

export interface Props {
  title: string;
  group: Group;
  star?: boolean;
}

const { title, group, star } = Astro.props;
---

<div
  class={`flex flex-col justify-center p-4 h-[92px]`}
  style={{
    backgroundColor: groupColor[group],
  }}
>
  <p class="font-bold text-white">{title}	
  {star && <span>*</span>}
	</p>
  <p class="text-xs font-mono text-gray-100/50">{groupTitle[group]}</p>
</div>

<style></style>
